<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEyLSPpN4-zuy3rTvRL4FzZxyb7b2Q6SU</string>
	<key>GCM_SENDER_ID</key>
	<string>182004071994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.health.ahk.healthApp</string>
	<key>PROJECT_ID</key>
	<string>health-app-c79e2</string>
	<key>STORAGE_BUCKET</key>
	<string>health-app-c79e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182004071994:ios:71833aac9ba79dc65a3f03</string>
</dict>
</plist>